<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1f1f21">
    <title>Elstc Qrys</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <!-- menu bar -->
</head>

<body>
{% include "partials/navigation.html" %}


<h1>Juno Elastic Query API Searches</h1>

    <br><br>
    <div class="elasticform">
    <form action="/getelastic" method="POST">
        <p>Username: <input type="text" name="username" /></p>
        <p>SHA256: <input type="text" name="sha256" /></p>
        <p>From Domain Address: <input type="text" name="domain" /></p>
        <p>Sender Full Email Address: <input type="email" name="sender" /></p>
        <p>Sender IP Address:  <input type="text" name="ip" /></p>
        <p>Subject Message:  <input type="text" name="subj" /></p>
        <p>GUID: <input type="text" name="guid" /></p>
        <p><input type="submit" value="Submit"></p>
    </form>
    </div>
<div class="footer">
  <p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
</body>
</html>
