<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1f1f21">
    <meta charset="UTF-8">
    <title>Delete Pcap</title>
        <link rel='stylesheet' href = "../static/css/main.css">

</head>
<body>
{% include "partials/navigation.html" %}
<h1>Select the Packet Capture to Delete</h1>

<ul>
    <ol>
      {% for file in files %}
        <li><a href="{{ url_for('delete', filename=file) }}">{{ file }}</a></li>
      {% endfor %}
    </ol>
        <li><a href="{{ url_for('delete_all_files')}}">Delete All Files</a></li>
</ul>

</body>
</html>
