<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1f1f21">
  <title>Deletion Results | Talos TE Toolbox</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  {% include "partials/navigation.html" %}
  <h1>Deletion Results</h1>
  <div class="elasticform">
    <p>Deleted files</p>
    <pre>{{ name }}</pre>
  </div>
  <div class="footer">
    <p>Copyright © 2026 Cisco · Talos Internal Use Only</p>
  </div>
</body>
</html>
