<!DOCTYPE html>
<html lang="en">

<!--Home page for snort replay-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1f1f21">
    <title>Talos TE Toolbox</title>
    <link rel='stylesheet' href = "../static/css/main.css">
</head>

<body>
{% include "partials/navigation.html" %}
<h1>Talos Escalations | PigReplay</h1>

    <!--ACTION TILES FOR USER-->
   <!--UPLOAD PCAP-->
    <div class="tiles tile thover">
         <a href="uploadpcap">
             <img loading="lazy" decoding="async" alt="upload" src="../static/imgs/upload.png" height="150"></a>
          <div class="caption ">Upload Pcap</div>
      </div>

    <!--DL pcap-->
    <div class="tiles tile thover">
         <a href="filedownloads">
             <img loading="lazy" decoding="async" alt="upload" src="../static/imgs/download.jpeg" height="150"></a>
          <div class="caption ">Download Pcap</div>
      </div>

    <!--Delete pcap from system-->
    <div class="tiles tile thover">
          <a href="filedeletion">
             <img loading="lazy" decoding="async" alt="del" src="../static/imgs/delete.jpeg"
                  height="150"></a>
          <div class="caption ">Delete Pcaps</div>
      </div>

   <!--Download the latest S2 rules-->
    <div class="tiles tile thover">
          <a href="ruledl">
             <img loading="lazy" decoding="async" alt="ruledl" src="../static/imgs/rules.webp"
                  width="180" height="150"></a>
          <div class="caption ">Snort Rule Download</div>
      </div>

    <div class="tiles tile thover">
          <a href="rulesearch">
             <img loading="lazy" decoding="async" alt="rulesearch" src="../static/imgs/search.jpeg"
                  height="150"></a>
          <div class="caption ">Rule Search</div>
      </div>

    <div class="tiles tile thover">
          <a href="replay">
             <img loading="lazy" decoding="async" alt="snort" src="../static/imgs/snort.jpeg"
                  width="180" height="150"></a>
          <div class="caption ">Snort Replay</div>
      </div>

        <div class="tiles tile thover">
         <a href="/jirasearch">
             <img loading="lazy" decoding="async" alt="Jira" src="../static/imgs/jsearch.jpeg"
                  height="150"></a>
          <div class="caption ">Jira Search</div>
      </div>
</body>

<!--Footer section-->
    <div class="footer">
      <p>Copyright (c) 2023 wikoeste, Cisco Internal Use Only</p>
    </div>
</html>
