    <!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1f1f21">
    <meta charset="UTF-8">
    <title>Snort Replay</title>
        <link rel='stylesheet' href = "../static/css/main.css">


</head>
<body>
{% include "partials/navigation.html" %}
<h1>Select the pcap and rule to test!</h1>

<br>
Enter the Snort Signature ID. Choose a Base policy and a pcap for Snort replay.
<br>
<div class="replaybox">
    <form action="/testpcap" method="POST">
        <p>SID:       <input type="numeric" name="sid" required/></p>
        <!--<p>Rule Text: <textarea rows="5" cols="75" name="rawrule"></textarea></p>-->
        <p>Base Policy:
        <select name="policy">
            <option value="lcl">Local</option>
            <option value="max">Max</option>
            <option value="sec">Security</option>
            <option value="con">Connectivity</option>
            <option value="bal">Balanced</option>
            <option value="all">All Rules</option>
            <option value="dbg">No Quiet Mode</option>
        </select>
        </p>
            <p>Packet Capture:</p>
            <ul style="list-style-type:none">
                {% for file in files %}
                <li><input type="radio" value={{file}} name="pcaps"/><label for="{{url_for('download', filename=file)}}">{{file}}</label></li>
                {% endfor %}
            </ul>
            <br>
            <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>
