<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1f1f21">
    <meta charset="UTF-8">
    <title>Replay Results</title>
    <link rel='stylesheet' href = "../static/css/main.css">


</head>
<body>
{% include "partials/navigation.html" %}
<h1>Snort Replay Results</h1>


<!-- Snort version and original rule-->
    <div align="left">
        <p>Snort {{snortversion}}</p>
        <p>Original Rule: {{rule}}</p>
    </div>

<br><br>
<!-- Pcap table data results-->
<div align="left">
        <table border="1px solid black;">
            <thead>
                <th>PCAP DATA</th>
            </thead>
            <tbody>
            {% for i in pcapdata %}
            <tr>
                <td>{{i}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
<br><br>
<!--Snort log data results-->
<div class="divScroll">
    <table border="5px gray">
        <tr>
            <th>Policy: {{pol}}</th>
        </tr>
        {% for r in results[:5] %}
        <tr>
            <td><font color="orange">{{r}}</font></td>
        </tr>
        {% endfor %}
        {% for r in results[7:] %}
        <tr>
            <td>{{r}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<br>

</body>
</html>
